body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.authContainer {
  padding: 0 10vw;
  height: calc(100vh - 100px);
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}
.logoauth {
  padding: 0 10vw;
  width: calc(100% - 20vw);
  height: fit-content;
  position: relative;
}
.authContainer .form {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.authContainer .form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.authContainer .form .formTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}
.authContainer .form .formSubtitle {
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 300;
}
.authContainer .form .input-container {
  position: relative;
  width: 100%;
  margin: 10px 0;
}
.authContainer .form .input {
  padding: 10px;
  width: calc(100% - 22px);
  background-color: #f5f5f5;
}

.authContainer .form .input + label {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: top 0.3s ease, font-size 0.3s ease;
}

.authContainer .form .input:focus + label,
.authContainer .form .label-focus {
  margin-top: -16px;
  margin-left: 15px;
  padding: 0 5px;
  font-size: 14px;
  background-color: #f5f5f5;
  cursor: text;
}

.authContainer .form .afterInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.authContainer .form .afterInputs .recordame {
  display: flex;
}
.authContainer .form .afterInputs .recordame input {
  margin-right: 5px;
}
.authContainer .form .afterInputs .olvideLaContraseña .link {
  text-decoration: none;
  color: #00aeff;
}
.authContainer .form .afterInputs .olvideLaContraseña .link:hover {
  text-decoration: underline;
}
.authContainer .form .loginButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fff1a6;
  border: 1px solid #ffaa00;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
.authContainer .form .crearCuenta {
  margin-top: 20px;
  text-align: center;
}
.authContainer .form .crearCuenta .link {
  text-decoration: none;
  color: #00aeff;
}
.authContainer .form .crearCuenta .link:hover {
  text-decoration: underline;
}

.authContainer .heroContainer {
  flex: 1 1 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0px 20px;
}
.authContainer .heroContainer .hero {
  height: 70%;
  padding: 30px;
  background-color: #d9d9d9;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .logoauth {
    padding: 0 5vw;

    width: 100%;
    height: fit-content;
    position: relative;
  }
  .authContainer {
    flex-direction: column;
    padding: 0 10vw;
    width: calc(100% - 20vw) !important;
  }
  .authContainer .logo {
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: fit-content;
    
    margin-top: 20px;
  }
  .authContainer .logo img {
    width: 100%;
  }
  .authContainer .form {
    padding: 0px;
  }
}
