.service-details-container {
  padding: 20px;
}

.service-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.service-info h2 {
  margin-top: 0;
}

.service-info p {
  margin-bottom: 20px;
}

.service-info button {
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.service-info button:hover {
  background-color: #ffb300;
}
